.loading_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: white;
}

.loading_div_container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.load {
  width: 5px;
  height: 5px;
  background-color: black;
  animation: salto 0.5s alternate infinite;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 7px;
}
.load:nth-child(2) {
  animation-delay: 0.18s;
}
.load:nth-child(3) {
  animation-delay: 0.37s;
}
@keyframes salto {
  from {
    transform: scaleX(1.25);
  }
  to {
    transform: translateY(-10px) scaleX(1);
  }
}
