#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container_main {
  width: 100vw;
  height: 100vh;
}
.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable > .row > span {
  display: inline-block;
  float: none;
}
